<ul id="{{ token }}_groups" class="unstyled col-md-12">
	{% for data in group %}		
		{% set che='' %}
		{% if data.id in valor %} {% set che='checked' %} {% endif %}
		<li class="list-group-item"><label><input type="checkbox" {{ che }} id="{{ token }}_groups_{{ loop.index }}" name="{{ token }}[groups][]" value="{{ data.id }}"><span> {{ data.name }} 
		</span></label></li>
	{% endfor %}
</ul>