{% extends '/standard_layout.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    <style type="text/css">
        .ui-front {
            z-index: 1030 !important;
        }
    </style>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
{% endblock %}

{% block sonata_admin_content %}

        <form action="{{ path('fos_user_change_password') }}"  method="POST" class="fos_user_change_password">
            <table style="border-collapse: separate; border-spacing: 10px;">
                <tr>
                    <td>{{ form_label(form.current_password, label|default(null)) }}</td>
                    <td>{{ form_widget(form.current_password) }}</td>
                </tr>
                <tr>
                    <td>{{ form_label(form.plainPassword.first, label|default(null)) }}</td>
                    <td>{{ form_widget(form.plainPassword.first) }}</td>
                </tr>
                <tr>
                    <td>{{ form_label(form.plainPassword.second, label|default(null)) }}</td>
                    <td>{{ form_widget(form.plainPassword.second) }}</td>
                </tr>
            </table>
            {{ form_widget(form) }}
            <div>
                <button id="guardar" type="submit" class="btn btn-primary">
                    <span class="glyphicon glyphicon-ok"></span> {{ 'change_password.submit'|trans({}, 'FOSUserBundle') }}
                </button>
                <a class="btn btn-info" href="{{ path('_inicio') }}">
                    <span class="glyphicon glyphicon-home"></span> {{ '_regresar_'|trans }}
                </a>
            </div>
        </form>

{% endblock sonata_admin_content %}
