{% extends 'standard_layout.html.twig' %}
{% block javascripts %}
    {{parent()}}
    <script src="{{ asset('js/angular/angular.js') }}" type="text/javascript"></script>
    <script src="{{ asset('js/angularTablero/d3.js') }}"></script>
    <script src="{{ asset('js/angularTablero/d3_nvd3.js') }}"></script>
    <script src="{{ asset('js/angularTablero/d3_angular_nvd3.js') }}"></script>
	<script src="{{ asset('js/angular/ui-bootstrap.js') }}" type="text/javascript"></script>
	<script src="{{ asset('js/angular/ngStorage.js') }}" type="text/javascript"></script>
    <script src="{{ asset('js/angular/moment.min.js') }}" type="text/javascript"></script>
    <script src="{{ asset('js/angularTablero/ngRadialGauge/src/ng-radial-gauge-dir.js') }}"></script>
    <script src="{{ asset('js/angular/app.js') }}" type="text/javascript"></script>
	<script src="{{ asset('js/angular/matriz.js') }}" type="text/javascript"></script>


{% endblock javascripts %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('css/FichaTecnicaAdmin/tablero.css') }}">

    <style>
        td{
            min-width: 30px;
            min-height: 90px;
        }
        td.valores{
            text-align: right;
        }
        td.nombre_variable{
            vertical-align: middle !important;
        }
        table{
            background-color: white;
            border-color: black !important;
        }
        .sonata-ba-content{
            overflow: auto;
        }
        .content-header {
            padding: 0px;
        }
        .navbar2 {
            position: relative;
            min-height: 50px;
            margin-bottom: 20px;
            border: 1px solid transparent;
        }
    </style>

{% endblock %}


{% block sonata_page_content %}
    <div ng-app="App" ng-controller="MatrizCtrl" ng-init="ruta='{{ path('matriz_real') }}'"> 
        {% block sonata_page_content_header %}
            <section class="content-header" >
                <nav class="navbar navbar-default" role="navigation" style="width: auto;">
                    <div class="container-fluid">
                        <div class="navbar-header">
                            <a class="navbar-brand" href="javascript:void(0)">
                                <span class="glyphicon glyphicon-th"></span> {{ '_matriz_seguimiento_' | trans }} ({{ '_captura_datos_' | trans }}) <% anio | date:'yyyy' %>                             
                            </a>
                            
                        </div>
                        <div class="navbar-collapse" >
                            <a href="javascript:void(0)" class="btnnav navbar-nav navbar-right btn btn-default" data-toggle="modal" data-target="#manual" style=" height: 50px;">
                                <i class="fa fa-question" style="font-size: 2.5em;"></i>
                            </a>
                            <ul class="nav navbar-nav navbar-right" style="padding-top: 6px;">
                                <li class="sonata-actions">
                                    <div class="input-group" ng-init="matrix = []; cargarSelect('{{ path('matriz_matriz') }}', matrix)">
                                        <span class="input-group-addon" id="basic-addon1">{{ '_matriz_select_' | trans }}:</span>
                                        <select class="form-control" ng-model="matriz" ng-options="val.id as val.nombre for val in matrix" ></select>
                                    </div>                                    
                                </li>
                                
                                <li class="sonata-actions">
                                    <div class="input-group" style="max-width: 350px;">
                                        <span class="input-group-addon" id="basic-addon1">{{ '_anio_select_' | trans }}:</span>
                                        <input type="text" class="form-control" uib-datepicker-popup="<%format%>"
                                            ng-model="anio" is-open="status.opened"
                                            datepicker-options="dateOptions" date-disabled="disabled(date, mode)" ng-required="true" close-text="Close" ng-click="open($event)" />
                                        <span class="input-group-btn">
                                            <button type="button" class="btn btn-default" ng-click="open($event)"><i class="glyphicon glyphicon-calendar"></i></button>
                                        </span>
                                    </div>    
                                </li>
                                
                                <li class="sonata-actions">
                                    <button type="button" class="btn btn-info" ng-click="crearPlaneacion(ruta ,anio)"><i class="glyphicon glyphicon-refresh"></i></button>
                                </li>
                            </ul>
                        </div>
                    </div>
                </nav>
            </section>
        {% endblock %}

        {% block sonata_admin_content %}
        <section class="content">
            <div id="div_carga" class='affix' style="display:<% cargando ? 'block' : 'none' %>">
                <div id="cargador"><span class="fa fa-spin fa-cog"></span></div>
            </div>
            <div class="sonata-ba-form">
                <form class="form-horizontal" role="form" >
                    <div id="feedback_bar"></div>
                    <div class="row" ng-init="usuarios = []; cargarSelect('{{ path('listaUsuarios') }}', usuarios); listaColores = []; cargarSelect('{{ path('listaColores') }}', listaColores);">            
                        <div class="col-md-12">

                            <div ng-if="noPlaneacion" ></div>
                            <div class="row" ng-if="!noPlaneacion">

                                <div class="col-sm-12" style="height: 78vh; overflow:auto">

                                    <div class="panel panel-default" ng-repeat="item in dato.matriz">
                                        <div class="panel-heading">
                                            <h4>
                                                <% item.nombre %>
                                            </h4>
                                        </div>
                                        <div class="panel-body">
                                            <table class="table table-striped table-bordered matriz">
                                                <thead>
                                                    <tr>
                                                        <th> {{ '_inidcador_' | trans }} </th>
                                                        <th> {{ '_fuente_' | trans }} </th>
                                                        <th> {{ '_enero_' | trans }} </th>
                                                        <th> {{ '_febrero_' | trans }} </th>
                                                        <th> {{ '_marzo_' | trans }} </th>
                                                        <th> {{ '_abril_' | trans }} </th>
                                                        <th> {{ '_mayo_' | trans }} </th>
                                                        <th> {{ '_junio_' | trans }} </th>
                                                        <th> {{ '_julio_' | trans }} </th>
                                                        <th> {{ '_agosto_' | trans }} </th>
                                                        <th> {{ '_septiembre_' | trans }} </th>
                                                        <th> {{ '_octubre_' | trans }} </th>
                                                        <th> {{ '_noviembre_' | trans }} </th>
                                                        <th> {{ '_diciembre_' | trans }} </th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <tr ng-repeat="inde in item.indicadores_etab">
                                                        <td><% inde.nombre %></td>
                                                        <td><% inde.fuente %></td>
                                                        <td ng-repeat="k in meses" width="100px">
                                                            <div align="center" class="matriz-planeacion matriz-planeacion-texto"><% inde[k].planificado %></div>
                                                            <input type="number" min="0" step="0.01" class="form-control" string-to-number ng-model="inde[k].real" readonly>                                        
                                                        </td>                                    
                                                    </tr>
                                                </tbody>
                                                <tfoot>
                                                    <tr ng-repeat="inde in item.indicadores_relacion">
                                                        <td><% inde.nombre %></td>
                                                        <td><% inde.fuente %></td>
                                                        <td ng-repeat="k in meses" width="100px">
                                                            <div align="center" class="matriz-planeacion matriz-planeacion-texto"><% inde[k].planificado %></div>
                                                            <input type="number" min="0" step="0.01" class="form-control" string-to-number ng-model="inde[k].real">                                        
                                                        </td>                                    
                                                    </tr>                        
                                                </tfoot>
                                            </table>
                                        </div>
                                    </div>                
                                </div> 
                            </div>
                            
                        </div>
                    </div>

                    <div class="sonata-ba-form-actions well well-small form-actions stuck">
                        <button ng-if="!noPlaneacion" type="button" class="btn btn-primary" ng-click="guardarPlaneacion('{{ path('matriz_real_guardar') }}', anio)"><i class="glyphicon glyphicon-floppy-disk"></i> {{ '_guardar_' | trans }}</button>
                    </div>
                </form>
            </div>
        </section>

        <div class="modal fade" tabindex="-1" role="dialog" id="manual">
            <div class="modal-dialog" style="width:95%" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title">{{ '_manual_' | trans}}</h4>
                    </div>
                    <div class="modal-body" style="height: 80vh;">
                        <object data="{{ asset('manuales/etab_matriz/Output/website/book/capitulo-3.html') }}"  style="width: 100%;height:100%;"></object>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    </div>
                </div><!-- /.modal-content -->
            </div><!-- /.modal-dialog -->
        </div><!-- /.modal -->

    {% endblock %}
    </div>
{% endblock %}


    
