{% extends '@SonataAdmin/standard_layout.html.twig' %}
{% block stylesheets %}
    {{ parent() }}

    <link rel="stylesheet" href="{{ app.request.schemeAndHttpHost ~ asset('/themes/MINSAL_ESA/css/login.css') }}" type="text/css" media="all" />
    <link rel="stylesheet" href="{{ app.request.schemeAndHttpHost ~ asset('/themes/MINSAL_ESA/css/custom_layout.css') }}" type="text/css" media="all" />

{% endblock %}

{% block sonata_left_side %}
{% endblock %}

{% block sonata_page_content %}
    {{  parent() }}
    <div class="page-footer">
        <img class="dtic-footer" src="{{ asset("themes/MINSAL_ESA/images/dtic.png") }}" alt="dtic"/>
        Direcci&oacute;n de Tecnolog&iacute;as de Informaci&oacute;n y Comunicaciones - Ministerio de Salud
    </div>
{% endblock %}