{% extends base_template %}
{% block stylesheets %}
    {{ parent() }}
    <style>
        .panel-body .btn:not(.btn-block) { width:120px;margin-bottom:10px; }
        #dashboard A.btn {
            white-space: normal;
        }
    </style>
{% endblock %}
{% block title %}{{ 'title_dashboard'|trans({}, 'SonataAdminBundle') }}{% endblock%}
{% block breadcrumb %}{% endblock %}
{% block content %}
    {% if app_dashboard %}
        <div class="container" id="dashboard">
            <div class="row">
                {% if is_granted(['ROLE_SUPER_ADMIN', 'ROLE_USER_TABLERO', 'ROLE_USER_PIVOT_TABLE', 'ROLE_USER_MATRIZ_SEGUIMIENTO']) %}
                    <div class="col-md-6">
                        <div class="panel panel-primary">
                            <div class="panel-heading">
                                <h3 class="panel-title">
                                    <i class="fa fa-pie-chart fa-2x" aria-hidden="true"></i>
                                    eTab
                                </h3>
                            </div>
                            <div class="panel-body">
                                <div class="row">
                                    {% if is_granted(['ROLE_SUPER_ADMIN', 'ROLE_USER_TABLERO', 'ROLE_USER_PIVOT_TABLE']) %}
                                        <div class="col-xs-6 col-md-6">
                                            {% if is_granted(['ROLE_SUPER_ADMIN', 'ROLE_USER_TABLERO']) %}
                                                <a href="{{ path('indicadores_tablero') }}" class="btn btn-danger btn-lg" role="button">
                                                    <i class="fa fa-bar-chart fa-2x " aria-hidden="true"></i>
                                                    <br/>{{ '_tablero_indicadores_'|trans }}
                                                </a>
                                            {% endif %}
                                            {% if is_granted(['ROLE_SUPER_ADMIN', 'ROLE_USER_PIVOT_TABLE']) %}
                                                <a href="{{ path('pivotTable') }}" class="btn btn-info btn-lg " role="button">
                                                    <span class="fa-stack">
                                                        <i class="fa fa-exchange fa-stack-1x text-black"></i>
                                                        <i class="fa fa-columns fa-stack-2x"></i>
                                                    </span>
                                                    <br/>{{ '_tabla_pivote_'|trans }}
                                                </a>
                                            {% endif %}
                                        </div>
                                    {% endif %}
                                    {% if is_granted(['ROLE_SUPER_ADMIN', 'ROLE_USER_MATRIZ_SEGUIMIENTO']) %}
                                        <div class="col-xs-6 col-md-6">
                                            <a href="{{ path('matrizReporte') }}" class="btn btn-primary btn-lg" role="button">
                                                <i class="fa fa-calendar-check-o fa-2x " aria-hidden="true"></i>
                                                <br/>{{ '_matriz_seguimiento_'|trans }}
                                            </a>
                                        </div>
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                    </div>
                {% endif %}
                {% if is_granted(['ROLE_SUPER_ADMIN', 'ROLE_USER_TABLERO_CALIDAD', 'ROLE_USER_PLAN_MEJORA_CALIDAD'])
                    and has_route('formulario_captura') and has_route('tablero_calidad')
                    and has_route('tablero_general_calidad') and has_route('calidad_planmejora')
                %}
                    <div class="col-md-6">
                        <div class="panel panel-primary">
                            <div class="panel-heading">
                                <h3 class="panel-title">
                                    <i class="fa fa-check-square-o fa-2x" aria-hidden="true"></i>
                                    Calidad</h3>
                            </div>
                            <div class="panel-body">
                                <div class="row">
                                    {% if is_granted(['ROLE_SUPER_ADMIN', 'ROLE_USER_TABLERO_CALIDAD', 'ROLE_USER_CAPTURA_DATOS']) %}
                                        <div class="col-xs-6 col-md-6">
                                            <a href="{{ path('formulario_captura') }}" class="btn btn-success btn-lg" role="button">
                                                <span class="fa-stack">
                                                    <i class="fa fa-list-ol fa-stack-2x"></i>
                                                    <i class="fa fa-check fa-stack-1x text-black"></i>
                                                </span>
                                                <br/>{{ '_captura_datos_'|trans }}
                                            </a>
                                            <a href="{{ path('tablero_calidad') }}" class="btn btn-primary btn-lg " role="button">
                                                <span class="fa fa-list-alt fa-2x" aria-hidden="true"></span>
                                                <br/>{{ '_estandares_'|trans }}<br/>&nbsp;
                                            </a>
                                        </div>
                                    {% endif %}
                                    {% if is_granted(['ROLE_SUPER_ADMIN', 'ROLE_USER_TABLERO_CALIDAD', 'ROLE_USER_PLAN_MEJORA_CALIDAD']) %}
                                        <div class="col-xs-6 col-md-6">
                                            <a href="{{ path('tablero_general_calidad') }}" class="btn btn-danger btn-lg" role="button">
                                                <i class="fa fa-dashboard fa-2x " aria-hidden="true"></i>
                                                <br/>{{ '_tablero_mando_'|trans }}
                                            </a>
                                            <a href="{{ path('calidad_planmejora') }}" class="btn btn-warning btn-lg" role="button">
                                                <span class="fa-stack">
                                                    <i class="fa fa-calendar-o fa-stack-2x " aria-hidden="true"></i>
                                                    <i class="fa fa-line-chart fa-stack-1x text-black"></i>
                                                </span>
                                                <br/>{{ '_plan_mejora_'|trans }}
                                            </a>
                                        </div>
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                    </div>
                {% endif %}
                {% if is_granted(['ROLE_USER_COSTEO'])
                    and has_route('costos_rrhh_valor_pagado2') and has_route('costos_rrhh_costeo')
                    and has_route('costos_rrhh_valor_pagado_detalle') and has_route('costos_ga_compromisosfinancieros')
                    and has_route('ga_costeo') and has_route('costos_suministros_costeo')
                    and has_route('costos_produccion_costeo')
                %}
                    <div class="col-md-12">
                        <div class="panel panel-primary">
                            <div class="panel-heading">
                                <h3 class="panel-title">
                                    <i class="fa fa-money fa-2x" aria-hidden="true"></i>
                                    Costos</h3>
                            </div>
                            <div class="panel-body">
                                <div class="row">
                                    <div class="col-md-4">
                                        <div class="panel panel-primary">
                                            <div class="panel-heading">
                                                <h3 class="panel-title">
                                                    <i class="fa fa-users fa-2x" aria-hidden="true"></i> Recurso humano</h3>
                                            </div>
                                            <div class="panel-body">
                                                <div class="row">
                                                    <div class="col-xs-6 col-md-6">
                                                        <a href="{{ path('costos_rrhh_valor_pagado2') }}" class="btn btn-primary btn-lg" role="button">
                                                            <span class="fa-stack">
                                                                <i class="fa fa-list-ol fa-stack-2x"></i>
                                                                <i class="fa fa-check fa-stack-1x text-black"></i>
                                                            </span>
                                                            <br/>{{ '_captura_datos_'|trans }}
                                                        </a>
                                                        <a href="{{ 'costos_rrhh_costeo' }}" class="btn btn-danger btn-lg" role="button">
                                                            <span class="fa-stack">
                                                                <i class="fa fa-users fa-stack-2x"></i>
                                                                <i class="fa fa-dollar fa-stack-2x text-black"></i>
                                                            </span>
                                                            <br/>{{ '_costeo_'|trans }}<br/>&nbsp;
                                                        </a>
                                                    </div>

                                                    <div class="col-xs-6 col-md-6">
                                                        <a href="{{ path('costos_rrhh_valor_pagado_detalle') }}" class="btn btn-warning btn-lg " role="button">
                                                            <span class="fa fa-list-alt fa-2x" aria-hidden="true"></span>
                                                            <br/>{{ '_detalle_valor_pagado_'|trans }}
                                                        </a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="panel panel-primary">
                                            <div class="panel-heading">
                                                <h3 class="panel-title ">
                                                    <i class="fa fa-dollar fa-2x" aria-hidden="true"></i> {{ '_gastos_administrativos_'|trans }}</h3>
                                            </div>
                                            <div class="panel-body">
                                                <div class="row">
                                                    <div class="col-xs-6 col-md-6">
                                                        <a href="{{ path('costos_ga_compromisosfinancieros') }}" class="btn btn-success btn-lg" style='padding-left: 3px;' role="button">
                                                            <span class="fa fa-money fa-2x" aria-hidden="true"></span>
                                                            <br/>{{ '_compromisos_financieros_'|trans }}
                                                        </a>
                                                        <a href="{{ path('ga_costeo') }}" class="btn btn-primary btn-lg " role="button">
                                                            <span class="fa fa-hospital-o fa-2x" aria-hidden="true"></span>
                                                            <br/><span class="fa fa-dollar" aria-hidden="true"></span><br/>{{ '_costeo_'|trans }}
                                                        </a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-2">
                                        <a href="{{ path('costos_suministros_costeo') }}" class="btn btn-success btn-lg" style='padding-left: 5px' role="button">
                                            <span class="fa fa-medkit fa-2x" aria-hidden="true"></span>
                                            <br/>{{ '_suministros_'|trans }}<br/>&nbsp;
                                        </a>
                                    </div>
                                    <div class="col-md-2">
                                        <a href="{{ path('costos_produccion_costeo') }}" class="btn btn-danger btn-lg" role="button">
                                            <span class="fa fa-user-md fa-2x" aria-hidden="true"></span>
                                            <br/>{{ '_produccion_'|trans }}<br/>&nbsp;
                                        </a>
                                    </div>
                                </div>
                                {#<a href="http://www.jquery2dotnet.com/" class="btn btn-success btn-lg btn-block" role="button"><span class="glyphicon glyphicon-globe"></span> Website</a>#}
                            </div>
                        </div>
                    </div>
                {% endif %}
            </div>
        </div>
    {% endif %}
{% endblock %}