{% extends 'CRUD/edit.html.twig' %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('js/OrigenDatosAdmin/origen_dato_edit.js') }}" type="text/javascript"></script>
    <script src="{{ asset('js/pekeUpload/pekeUpload.min.js') }}" type="text/javascript"></script>

{% endblock %}

{% block form %}
    {{ parent() }}
    {% if object.getEsFusionado() == false %}
        <button type='button' name="btn_probar_sentencia" id='btn_probar_sentencia' class='btn btn-primary'>
            <span class="glyphicon glyphicon-check" aria-hidden="true"></span>
            {{admin.trans('probar_sentencia')}}
        </button>
    {% endif %}
    {% if admin.id(object) %}
        {# Si se está editando el objeto presentar la intefaz para configurar el origen de datos#}
        {% if object.getEsFusionado() == false %}
            <div id='configurar' data='{{object.id}}'>
            </div>
        {% endif %}
    {% endif %}
{% endblock form %}

{% block sonata_form_actions %}

    {# NEXT_MAJOR: remove default filter #}
    {% if objectId|default(admin.id(object)) is not null %}
        <button type="submit" class="btn btn-success" name="btn_update_and_edit"><i class="fa fa-save" aria-hidden="true"></i> {{ 'btn_update_and_edit_again'|trans({}, 'SonataAdminBundle') }}</button>

        {% if admin.hasRoute('list') and admin.hasAccess('list') %}
            <button type="submit" class="btn btn-success" name="btn_update_and_list"><i class="fa fa-save"></i> <i class="fa fa-list" aria-hidden="true"></i> {{ 'btn_update_and_return_to_list'|trans({}, 'SonataAdminBundle') }}</button>
        {% endif %}

        {% if admin.hasRoute('delete') and admin.hasAccess('delete', object) %}
            {{ 'delete_or'|trans({}, 'SonataAdminBundle') }}
            <a class="btn btn-danger" href="{{ admin.generateObjectUrl('delete', object) }}"><i class="fa fa-minus-circle" aria-hidden="true"></i> {{ 'link_delete'|trans({}, 'SonataAdminBundle') }}</a>
        {% endif %}

        {% if admin.isAclEnabled() and admin.hasRoute('acl') and admin.hasAccess('acl', object) %}
            <a class="btn btn-info" href="{{ admin.generateObjectUrl('acl', object) }}"><i class="fa fa-users" aria-hidden="true"></i> {{ 'link_edit_acl'|trans({}, 'SonataAdminBundle') }}</a>
        {% endif %}
    {% else %}
        {% if admin.hasroute('edit') and admin.hasAccess('edit') %}
            <button class="btn btn-success" type="submit" name="btn_create_and_edit"><i class="fa fa-save" aria-hidden="true"></i> {{ 'btn_create_and_configure'|trans }}</button>
        {% endif %}
    {% endif %}

{% endblock %}