<div class="panel panel-primary">
        <!-- Default panel contents -->
        <div class="panel-heading">{{ '_escenarios_propios_'|trans }}</div>
        {% if datos.propios|length == 0 %}
                <div class="panel-body">
                        <p>{{ '_no_escenarios_creados'|trans }}</p>
                </div>
        {% endif %}

        <table class="table">
                {%  for e in datos.propios %}
                        <TR>
                                <TD><button type="button" class="list-group-item escenario" data-id="{{ e.id }}">{{ e.nombre }}</button></TD>
                                <TD style="width: 10%">
                                        <button type="button" class="btn btn-danger escenario-borrar" data-id="{{ e.id }}" title="{{ '_borrar_'|trans }}">
                                                <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
                                        </button>
                                </TD>
                        </TR>
                {% endfor %}
        </table>
</div>

<div class="panel panel-info">
        <!-- Default panel contents -->
        <div class="panel-heading">{{ '_escenarios_otros_'|trans }}</div>
        {% if datos.otros|length == 0 %}
                <div class="panel-body">
                        <p>{{ '_no_escenarios_creados'|trans }}</p>
                </div>
        {% endif %}

        <table class="table">
                {%  for e in datos.otros %}
                        <TR>
                                <TD><button type="button" class="list-group-item escenario" data-id="{{ e.id }}">{{ e.nombre }}</button></TD>
                                {% if is_granted('ROLE_SUPER_ADMIN') %}
                                <TD style="width: 10%">
                                        <button type="button" class="btn btn-danger escenario-borrar" data-id="{{ e.id }}" title="{{ '_borrar_'|trans }}">
                                                <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
                                        </button>
                                </TD>
                                {% endif %}
                        </TR>
                {% endfor %}
        </table>
</div>