<div class="modal fade" id="modalFiltros" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
       <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
            <h4 id="myModalLabel2">{{ 'javascript.dimension_opciones' | trans }}</h4>
        </div>
        <div class="modal-body" style="max-height:400px; max-width:100%; overflow:auto;">
            <form >
                <div class="col-sm-12">
                    <div class="form-group">
                        <label for="disabledSelect">{{ 'javascript.cambiar_dimension' | trans}}</label>
                        <select id="disabledSelect" class="form-control" ng-model="indicadores[posicion].dimension" ng-change="agregarIndicadorDimension(indicadores[posicion].dimension, posicion)">
                            <option ng-repeat="(key, value) in indicadores[posicion].informacion.dimensiones" value="<% $index %>"
                            ng-selected="indicadores[posicion].dimension == $index ? true : false"><% value.descripcion %></option>
                        </select>
                    </div>
                </div>

                <div class="col-sm-6">
                    <div class="form-group">
                        <label for="desde">{{ 'desde' | trans}}</label>
                        <input type="date" id="desde" class="form-control" ng-model="indicadores[posicion].otros_filtros.desde">
                    </div>
                </div>

                <div class="col-sm-6">
                    <div class="form-group">
                        <label for="hasta">{{ 'hasta' | trans}}</label>
                        <input type="date" id="hasta" class="form-control" ng-model="indicadores[posicion].otros_filtros.hasta">
                    </div> 
                </div>

                <div class="col-sm-12">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h3 class="panel-title">{{ 'javascript.filtrar_por_elemento' | trans}}</h3>
                        </div>
                        <div class="panel-body">
                            <ul class="list-group">
                                <li class="list-group-item list_indicador" ng-repeat="(key, value) in indicadores[posicion].data"  ng-click="agregarOtrosFiltros(posicion, value.category)" 
                                style="<% indicadores[posicion].otros_filtros.elementos.indexOf(value.category) > -1 ? 'background: #c0f4c0;' : '' %>">                                    
                                     <% value.category %> 
                                    <span class="badge badge-primary badge-pill " ng-if="indicadores[posicion].otros_filtros.elementos.indexOf(value.category) > -1">
                                        <i class="glyphicon glyphicon-ok"></i>
                                    </span>
                                </li>
                            </ul>
                        </div>
                    </div>               
                </div>
            </form>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-primary" ng-click="filtrarIndicador(posicion)">{{ 'javascript.filtrar' | trans}}</button>
            <button type="button" class="btn btn-danger" ng-click="agregarIndicadorDimension(0, posicion)">{{ 'javascript.quitar_filtro' | trans}}</button>
            <button class="btn btn-warning" data-dismiss="modal" aria-hidden="true">{{ '_cerrar_' | trans}}</button>
        </div>
    </div>
  </div>
</div>