<div class="modal fade" id="modalAlertas" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
       <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
            <h4 id="myModalLabel2"><% indicadores[posicion].nombre %></h4>
        </div>
        <div class="modal-body" style="max-height:400px; max-width:100%; overflow:auto;" id="exportar_tabla_datos">
            
            <table class="table table-bordered table-striped" >
                <thead>
                    <tr class="sonata-ba-view-title" bgcolor='#E1EFFB'>
                        <th>{{ 'color' | trans}}</th>
                        <th>{{ '_alerta_limite_inferior_' | trans}}</th>
                        <th>{{ '_alerta_limite_superior_' | trans}}</th>
                        <th>{{ '_comentarios_' | trans}}</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="(key, value) in indicadores[posicion].informacion.rangos">
                        <td style="background:<% value.color %>"><% value.color %></td>
                        <td><% value.limite_inf %></td>
                        <td><% value.limite_sup %></td>
                        <td><% value.comentario %></td>
                    </tr> 
                </tbody>
            </table>
        </div>
        <div class="modal-footer">
            <button class="btn btn-warning" data-dismiss="modal" aria-hidden="true">{{ '_cerrar_' | trans}}</button>
        </div>
    </div>
  </div>
</div>