<div class="modal fade" id="exportarDatos" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
   <div class="modal-dialog">
      <div class="modal-content">
         <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
            <h3 id="myModalLabel">{{ '_exportar_tabla_datos_' | trans}}</h3>
         </div>
         <div class="modal-body row">
            <div class="col-lg-12">
               <label>{{ '_exportar_a_' | trans}}</label>
            </div>
            <div class="col-lg-12">
               <ul class="list-group" id="listado-favoritos">
                  <li class="list-group-item"  ng-repeat="option in opcionesExport" style="cursor:pointer; <% td_tipo_exportar == option ? 'background-color: #c0f4c0;' : '' %>" ng-click="asignarTipoExport(option)">                     
                    <% option | uppercase%>                    
                  </li>
                  
               </ul>

               <div id="salaDatos" class="row" style="display:none">  
                    <div class="col-md-12" >
                        <div class="page-header">
                            <h1><span class="glyphicon glyphicon-th"></span> <% sala.nombre %></h1>
                        </div>
                    </div>

                    <div ng-repeat="item in indicadores | orderBy:item.posicion">

                        <table class="table table-bordered table-striped" >
                            <caption style="background-color:lightskyblue"><% item.nombre | uppercase %></caption>
                            <thead>
                                <tr class="sonata-ba-view-title" bgcolor='#E1EFFB'>
                                    <th ng-repeat="(key, value) in item.data[0]"><% key %></th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="(key, value) in item.data">
                                    <td ng-repeat="(k, v) in value"><% v %></td>
                                </tr>
                            </tbody>
                        </table>                                
                            
                    </div>
                </div>

            </div>
         </div>
         <div class="modal-footer">
            <button id="exportar_datos_csv" class="btn btn-primary" ng-if="td_tipo_exportar == 'csv'" ng-click="exportar_csv(sala.nombre, indicadores)">                
                {{ '_exportar_' | trans}}
            </button>

            <button id="exportar_datos_xls" class="btn btn-primary" ng-if="td_tipo_exportar == 'xls'" ng-click="exportar_excel('salaDatos', sala.nombre, false)">                
                {{ '_exportar_' | trans}}
            </button>

            <button id="exportar_datos_pdf" class="btn btn-primary" ng-if="td_tipo_exportar == 'pdf'" ng-click="exportar_pdf('salaDatos', sala.nombre, false)">                
                {{ '_exportar_' | trans}}
            </button>

            <button class="btn btn-warning" data-dismiss="modal" aria-hidden="true">
                {{ '_cerrar_' | trans}}
            </button>
         </div>
      </div>
   </div>
</div>

<div class="modal fade" id="exportarDiccionario" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
   <div class="modal-dialog">
      <div class="modal-content">
         <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
            <h3 id="myModalLabel">{{ '_exportar_tabla_datos_' | trans}}</h3>
         </div>
         <div class="modal-body row">
            <div class="col-lg-12">
               <label>{{ '_exportar_a_' | trans}}</label>
            </div>
            <div class="col-lg-12">
               <ul class="list-group" id="listado-favoritos">
                  <li class="list-group-item"  ng-repeat="option in opcionesExport" style="cursor:pointer; <% td_tipo_exportar == option ? 'background-color: #c0f4c0;' : '' %>" ng-click="asignarTipoExport(option)" ng-if="option != 'csv'">                     
                    <% option | uppercase%>                    
                  </li>
                  
               </ul>

               <div id="salaDiccionario" class="row" style="display:none">  
                    <div class="col-md-12" >
                        <div class="page-header">
                            <h1><span class="glyphicon glyphicon-th"></span> <% sala.nombre %></h1>
                        </div>
                    </div>

                    <div ng-repeat="item in indicadores | orderBy:item.posicion">

                        <table class="table table-bordered table-striped" >
                            <caption style="background-color:lightskyblue"><% item.nombre | uppercase %></caption>
                            <thead>
                                <tr class="sonata-ba-view-title" bgcolor='#E1EFFB'>
                                    <th>{{ 'nombre_campo' | trans}}</th>
                                    <th>{{ '_descripcion_' | trans}}</th>                        
                                </tr>
                                
                            </thead>
                            <tbody>
                                <tr>
                                    <th>{{ 'nombre' | trans}}</th>
                                    <td><% item.ficha.nombre %></td>
                                </tr>
                                <tr>
                                    <th>{{ '_interpretacion_' | trans}}</th>
                                    <td><% item.ficha.tema %></td>
                                </tr>
                                <tr>
                                    <th>{{ 'concepto' | trans}}</th>
                                    <td><% item.ficha.concepto %></td>
                                </tr>
                                <tr>
                                    <th>{{ 'unidad_medida' | trans}}</th>
                                    <td><% item.ficha.unidad_medida %></td>
                                </tr>
                                <tr>
                                    <th>{{ '_acumulable_' | trans}}</th>
                                    <td><% item.ficha.es_acumulado ? 'SI' : 'NO' %></td>
                                </tr>
                                <tr>
                                    <th>{{ '_observaciones_' | trans}}</th>
                                    <td><% item.ficha.observacion %></td>
                                </tr>
                                <tr>
                                    <th>{{ 'clasificacion_tecnica' | trans}}</th>
                                    <td>
                                        <ul class="list-group">
                                            <li class="list-group-item" ng-repeat="(k, v) in item.ficha.clasificacion_tecnica"><% v.descripcion %></li>                            
                                        </ul>
                                    </td>
                                </tr>
                                <tr>
                                    <th>{{ '_meta_' | trans}}</th>
                                    <td><% item.ficha.meta %></td>
                                </tr>
                                <tr>
                                    <th>{{ 'periocidad' | trans}}</th>
                                    <td><% item.ficha.periodo.descripcion %></td>
                                </tr>
                                <tr>
                                    <th>{{ 'confiabilidad' | trans}}</th>
                                    <td><% item.ficha.confiabilidad %></td>
                                </tr>
                                <tr>
                                    <th>{{ 'ultima_lectura' | trans}}</th>
                                    <td><% item.ficha.ultima_lectura %></td>
                                </tr>
                                <tr>
                                    <th>{{ '_ultima_actualizacion_' | trans}}</th>
                                    <td><% item.ficha.updated_at %></td>
                                </tr>

                                <tr>
                                    <th>{{ 'campos_indicador' | trans}}</th>
                                    <td><% item.ficha.dimensiones %></td>
                                </tr>
                                <tr>
                                    <th>{{ 'Formula' | trans}}</th>
                                    <td><% item.ficha.formula %></td>
                                </tr>

                                <tr>
                                    <th colspan="2" >
                                        <h4>{{ 'variables' | trans }}</h4>
                                        <table class="table table-bordered table-striped" ng-repeat="(k, v) in item.ficha.variables">
                                            <caption>Var # <% $index + 1 %></caption>
                                            <tbody>
                                                
                                                <tr>
                                                    <th width="20%">{{ 'confiabilidad' | trans }}</th>
                                                    <td><% v.confiabilidad %></td>
                                                </tr>
                                                <tr>
                                                    <th>{{ 'nombre' | trans }} </th>
                                                    <td><% v.nombre %></td>
                                                </tr>
                                                <tr>
                                                    <th>{{ 'iniciales' | trans }} </th>
                                                    <td><% v.iniciales %></td>
                                                </tr>
                                                <tr>
                                                    <th>{{ '_fuente_' | trans }} </th>
                                                    <td><% v.fuente_dato ? v.fuente_dato.establecimiento + '('+ v.fuente_dato.contacto +')' : '' %></td>
                                                </tr>
                                                <tr>
                                                    <th>{{ 'origen_datos' | trans }} </th>
                                                    <td><% v.origen_dato ? v.origen_dato.nombre : '' %></td>
                                                </tr>
                                                <tr>
                                                    <th>{{ 'nombre_conexion' | trans }} </th>
                                                    <td>
                                                        <ul class="list-group">
                                                            <li class="list-group-item" ng-repeat="(k1, v1) in v.origen_dato.conexion"><% v1.nombre %> (<% v1.ip %>)</li>                            
                                                        </ul>                            
                                                </tr>
                                                <tr>
                                                    <th>{{ 'responsable_datos' | trans }} </th>
                                                    <td><% v.responsable_dato ? v.responsable_dato.establecimiento + '('+ v.responsable_dato.contacto +')' : '' %></td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </th>
                                </tr>
                                <tr ng-if="item.ficha.alertas.length > 0">
                                    <th colspan="2">
                                        <table class="table table-bordered table-striped" >
                                            <caption>{{ 'alertas' | trans}}</caption>
                                            <thead>
                                                <tr class="sonata-ba-view-title" bgcolor='#E1EFFB'>
                                                    <th>{{ 'color' | trans}}</th>
                                                    <th>{{ '_alerta_limite_inferior_' | trans}}</th>
                                                    <th>{{ '_alerta_limite_superior_' | trans}}</th>
                                                    <th>{{ '_comentarios_' | trans}}</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr ng-repeat="(k, v) in item.ficha.alertas">
                                                    <td style="background-color:<% v.color.codigo %>"><% v.color.color %></td>
                                                    <td><% v.limite_inf %></td>
                                                    <td><% v.limite_sup %></td>
                                                    <td><% v.comentario %></td>
                                                </tr> 
                                            </tbody>
                                        </table>
                                    </th>
                                </tr>
                            </tbody>                
                        </table>                          
                            
                    </div>
                </div>

            </div>
         </div>
         <div class="modal-footer">

            <button id="exportar_datos_xls" class="btn btn-primary" ng-if="td_tipo_exportar == 'xls'" ng-click="exportar_excel('salaDiccionario', sala.nombre, false)">                
                {{ '_exportar_' | trans}}
            </button>

            <button id="exportar_datos_pdf" class="btn btn-primary" ng-if="td_tipo_exportar == 'pdf'" ng-click="exportar_pdf('salaDiccionario', sala.nombre, false)">                
                {{ '_exportar_' | trans}}
            </button>

            <button class="btn btn-warning" data-dismiss="modal" aria-hidden="true">
                {{ '_cerrar_' | trans}}
            </button>
         </div>
      </div>
   </div>
</div>