{# Modificado para que agregar el botón para ir al listado #}

{% extends 'standard_layout.html.twig' %}
{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('css/FichaTecnicaAdmin/d3_nvd3.css') }}">
    <link rel="stylesheet" href="{{ asset('css/FichaTecnicaAdmin/tablero.css') }}">

{% endblock %}

{% block javascripts %}
    {{ parent() }}
       

<script src="{{ asset('js/angular/angular.js') }}" type="text/javascript"></script>

<script src="{{ asset('js/angularTablero/d3.js') }}"></script> 
<script src="{{ asset('js/angularTablero/d3_nvd3.js') }}"></script> 
<script src="{{ asset('js/angularTablero/d3_angular_nvd3.js') }}"></script>
<script src="{{ asset('js/angularTablero/ngRadialGauge/src/ng-radial-gauge-dir.js') }}"></script> 

<script src="{{ asset('js/angular/ui-bootstrap.js') }}" type="text/javascript"></script>
<script src="{{ asset('js/angular/ngStorage.js') }}" type="text/javascript"></script>
<script src="{{ asset('js/angular/moment.min.js') }}" type="text/javascript"></script>
<script src="{{ asset('js/angular/app.js') }}" type="text/javascript"></script>
<script src="{{ asset('js/angular/tablero.js') }}" type="text/javascript"></script>
<script src="{{ asset('js/angularTablero/dragydrog.js') }}"></script> 

<script src="{{ asset('js/export_plugin/tableExport.js') }}" type="text/javascript"></script>
<script src="{{ asset('js/export_plugin/filesaver.js') }}" type="text/javascript"></script>
<script src="{{ asset('js/export_plugin/jquery.base64.js') }}" type="text/javascript"></script>

{% endblock %}

{% block content %}
<div ng-app="App" ng-controller="TableroCtrl">
    
    <!-- MENU -->
    {% include 'FichaTecnicaAdmin/tablero_menu.html.twig' %}
    <!-- FIN MENU -->

    <div class="container-fluid" id="contenedor_tablero" >
        <div class="row" id="titulo_header" ng-if="titulo_sala != ''">
            <div class="col-md-12">
                <div class="page-header" style="padding:1px; margin-top:15px;  margin-bottom: -45px;">
                    <h1 id="header_sala"><% titulo_sala %></h1>
                </div> 
            </div>
        </div>

        <div id="sala" class="row" style="padding-top: 48px;" dnd-list="indicadores">        
            <div class="<% item.tamanio ? item.tamanio : 'col-sm-4'%>" style="cursor: all-scroll; page-break-after:always;" ng-repeat="item in indicadores" dnd-draggable="item" dnd-moved="indicadores.splice($index, 1)"
             dnd-effect-allowed="move" dnd-selected="indicadores.selected = item" ng-class="{'selected': indicadores.selected === item}">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4><% item.nombre | uppercase %></h4>
                        <button type="button" class="close close_indicador" aria-label="Close" ng-click="quitarIndicador(item, $index)"><span aria-hidden="true">&times;</span></button>
                    </div>
                    <nav class="navbar navbar-default" ng-if="!item.cargando">
                        <div class="container-fluid">
                            <!-- Brand and toggle get grouped for better mobile display -->
                            <div class="navbar-header">
                                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-<% $index %>" aria-expanded="false">
                                    <span class="sr-only">Toggle navigation</span>
                                    <span class="icon-bar"></span>
                                    <span class="icon-bar"></span>
                                    <span class="icon-bar"></span>
                                </button>
                            </div>

                            <!-- Collect the nav links, forms, and other content for toggling -->
                            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-<% $index %>">
                                <ul class="nav navbar-nav">
                                    <li class="active"><a  title="{{ 'favoritos' | trans }}"> <i class="glyphicon glyphicon-star" style="color: {{item.es_favorito ? 'orange' : ''}}"></i> </a></li>
                                    <li><a title="{{ '_configuracion_' | trans }}"> <i class="glyphicon glyphicon-cog"></i> </a></li>
                                    <li><a title="{{ 'dimension_opciones' | trans }}"> <i class="glyphicon glyphicon-filter"></i> </a></li>                                    
                                    
                                    <li class="dropdown">
                                        <a ng-click="abrir1[$index] = !abrir1[$index]" class="dropdown-toggle" data-toggle="dropdown" data-id="dropdown_export_<% $index %>" role="button" aria-haspopup="true" aria-expanded="false" title="{{ '_exportar_' | trans }}">
                                            <i class="glyphicon glyphicon-export"></i> <span class="caret"></span>
                                        </a>
                                        <ul class="dropdown-menu" style="display:<% abrir1[$index] ? 'block' : 'none' %>" role="menu" id="dropdown_export_<% $index %>">
                                            <li><a ng-click="abrir1[$index] = false"><i class="glyphicon glyphicon-list-alt"></i> {{ '_exportar_tabla_datos_' | trans }}</a></li>
                                            <li role="separator" class="divider"></li>
                                            <li><a ng-click="abrir1[$index] = false"><i class="glyphicon glyphicon-picture"></i> {{ '_exportar_svg_' | trans }}</a></li>
                                            <li><a ng-click="abrir1[$index] = false"><i class="glyphicon glyphicon-picture"></i> {{ '_exportar_png_' | trans }}</a></li>                                        
                                        </ul>
                                    </li>

                                    <li class="dropdown">
                                        <a ng-click="abrir2[$index] = !abrir2[$index]" class="dropdown-toggle" data-toggle="dropdown" data-id="dropdown_ficha_<% $index %>" role="button" aria-haspopup="true" aria-expanded="false" title="{{ 'opciones' | trans }}">
                                            <i class="glyphicon glyphicon-info-sign"></i> <span class="caret"></span>
                                        </a>
                                        <ul class="dropdown-menu" style="display:<% abrir2[$index] ? 'block' : 'none' %>" role="menu" id="dropdown_ficha_<% $index %>">
                                            <li><a ng-click="abrir2[$index] = false"><i class="glyphicon glyphicon-folder-open"></i> {{ 'ver_ficha_tecnica' | trans }}</a></li>                                        
                                            <li><a ng-click="abrir2[$index] = false"><i class="glyphicon glyphicon-list-alt"></i> {{ 'tabla_datos' | trans }}</a></li>
                                            <li><a ng-click="abrir2[$index] = false"><i class="glyphicon glyphicon-eye-open"></i> {{ 'ver_sql' | trans }}</a></li>
                                            <li><a ng-click="abrir2[$index] = false"><i class="glyphicon glyphicon-calendar"></i> {{ 'ultima_lectura' | trans }}</a></li>                                        
                                        </ul>
                                    </li>

                                    <li><a title="{{ '_refresh_' | trans }}"> <i class="glyphicon glyphicon-refresh"></i> </a></li>
                                    <li><a title="{{ '_full_screen_' | trans }}"> <i class="glyphicon glyphicon-fullscreen"></i> </a></li>

                                    <li><a title="{{ '_ver_tendencia_' | trans }}"> <img src="{{ app.request.schemeAndHttpHost ~ asset('images/chart-line-solid.svg') }}" style="width: 17px;" />  </a></li>
                                    
                                </ul>
                            </div><!-- /.navbar-collapse -->
                        </div><!-- /.container-fluid -->
                    </nav>
                    
                    <ol class="breadcrumb tablero_breadcrumb " ng-if="item.breadcrumb.length > 0">
                        <li class="<% $index == item.breadcrumb.length - 1 ? 'active' : '' %>" ng-repeat="link in item.breadcrumb"><a ><% link.nombre %></a></li>
                    </ol>
                    <div class="panel-body">

                        <div class="container-fluid" ng-if="!item.cargando">
                            <div class="alert alert-warning" role="alert" ng-if="item.error == 'Warning'">{{ '_indicador_warning' | trans }}</div>
                            <div class="alert alert-danger" role="alert" ng-if="item.error == 'Error'">{{ '_indicador_error' | trans }}</div>

                            <nvd3 options="item.options" data="item.grafica"></nvd3>
            
                        </div>
                        <div class="container-fluid" ng-if="item.cargando" align="center">
                            <h4>{{ '_cargando_indicador_' | trans }} </h4>
                            <img src="{{ app.request.schemeAndHttpHost ~ asset('images/ajax-loader.gif') }}" /> 
                        </div>
                        
                    </div>
                    <div class="panel-footer">
                        <span class="pull-right" >
                            {{ '_meta_' | trans }}: <% item.meta %>
                        </span>
                        &nbsp;
                        <span class="pull-left"> 
                            [{{ '_de_' | trans }}: <% item.desde %>  {{ '_aa_' | trans }}: <% item.hasta %>] 
                        </span>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- MODAL INDICADOR -->
    {% include 'FichaTecnicaAdmin/tablero_indicadores.html.twig' %}
    <!-- FIN MODAL INDICADOR -->

    <!-- MODAL SALAS -->
    {% include 'FichaTecnicaAdmin/tablero_salas.html.twig' %}
    <!-- FIN MODAL SALAS -->
    
</div>
{% endblock %}