
{% if app.user != '' and app.user.username != 'externo' %}
    <nav class="navbar navbar-default navbar-custom" id="navbar-tablero">
        <div class="container-fluid">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <!-- <a class="navbar-brand" href="#">Brand</a> -->
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav" id="myTab">
                    <li  {% if app.user.username == 'externo' %}class= 'active'{% endif %}><a href="#sala">{{'_graficos_'|trans}}</a></li>
                    <li class="active"><a href="#listado_indicadores">{{"indicadores"|trans}}</a></li>
                    {% if app.user.username != 'externo' %}
                        <li role="presentation" class="dropdown">
                            <a id="sala_opciones_menu" class="dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">
                                {{'_salas_'|trans|capitalize}}<span class="caret"></span>
                            </a>
                            <ul class="dropdown-menu" >
                        <li><a href="#opciones_sala">{{'_listado_salas_'|trans|capitalize}}</a></li>
                                <li><a href="#social">{{"_social_"|trans}}</a></li>
                                <li><a href="#acciones_sala_datos">{{"_sala_acciones_"|trans}}</a></li>
                                <li role="separator" class="divider"></li>
                                <li><a href="#myModal" data-toggle="modal">
                                        <span class="glyphicon glyphicon-save"></span>
                                        {{'_guardar_sala_'|trans}}
                                    </a>
                                </li>
                                <li id="accesoExternoLI"><a href="#" id="accesoExterno">
                                        <span class="glyphicon glyphicon-user"></span>
                                        {{'_acceso_externo_'|trans}}
                                    </a>
                                </li>
                                <li role="separator" class="divider"></li>                                
                                <li><a href="#" id="exportSalaGraficos">
                                        <span class="glyphicon glyphicon-signal"></span>
                                        {{'_exportar_graficos_'|trans}}
                                    </a>
                                </li>
                                <li><a href="#" id="exportFichas">
                                        <span class="glyphicon glyphicon-list-alt"></span>
                                        {{'_exportar_fichas_tecnicas_'|trans}}
                                    </a>
                                </li>
                                <li><a href="#" id="exportTablasDatos">
                                        <span class="glyphicon glyphicon-list"></span>
                                        {{'_exportar_tablas_datos_'|trans}}
                                    </a>
                                </li>
                            </ul>
                        </li>
                    {% endif %}
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    <li><a id="aCollapseOne" href="#" title="{{'_ocultar/mostrar_menu_principal_'|trans}}">
                            <span class="glyphicon glyphicon-transfer"></span>
                            {{'_menu_principal_'|trans}}
                        </a>
                    </li>
                </ul>
            </div><!-- /.navbar-collapse -->
        </div><!-- /.container-fluid -->
    </nav>
{% endif %}