{#

This file is part of the Sonata package.

(c) Thomas Rabaix <thomas.rabaix@sonata-project.org>

For the full copyright and license information, please view the LICENSE
file that was distributed with this source code.

#}

{%- set _preview = block('preview') is defined ? block('preview')|trim : null %}
{% set _form = block('form') is defined ? block('form')|trim : null %}
{% set _show = block('show') is defined ? block('show')|trim : null %}
{% set _list_table = block('list_table') is defined ? block('list_table')|trim : null %}
{% set _list_filters = block('list_filters') is defined ? block('list_filters')|trim : null %}
{% set _tab_menu = block('tab_menu') is defined ? block('tab_menu')|trim : null %}
{% set _content = block('content') is defined ? block('content')|trim : null %}
{% set _title = block('title') is defined ? block('title')|trim : null %}
{% set _breadcrumb = block('breadcrumb') is defined ? block('breadcrumb')|trim : null %}
{% set _actions = block('actions') is defined ? block('actions')|trim : null %}
{% set _navbar_title = block('navbar_title') is defined ? block('navbar_title')|trim : null %}
{% set _list_filters_actions = block('list_filters_actions') is defined ? block('list_filters_actions')|trim : null -%}

<!DOCTYPE html>
<html {% block html_attributes %}class="no-js"{% endblock %}>
    <head>
        {% block meta_tags %}
            <meta http-equiv="X-UA-Compatible" content="IE=edge">
            <meta charset="UTF-8">
            <meta content='width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no' name='viewport'>

            <link rel="shortcut icon" sizes="196x196"    href="{{ asset('themes/simple/images/e.png') }}">
            <link rel="apple-touch-icon"                 href="{{ asset('themes/simple/images/e.png') }}">
            <link rel="apple-touch-icon" sizes="72x72"   href="{{ asset('themes/simple/images/e.png') }}">
            <link rel="apple-touch-icon" sizes="114x114" href="{{ asset('themes/simple/images/e.png') }}">
        {% endblock %}

        <meta data-sonata-admin='{{ {
            config: {
                CONFIRM_EXIT: sonata_admin.adminPool.getOption('confirm_exit'),
                USE_SELECT2: sonata_admin.adminPool.getOption('use_select2'),
                USE_ICHECK: sonata_admin.adminPool.getOption('use_icheck'),
                USE_STICKYFORMS: sonata_admin.adminPool.getOption('use_stickyforms'),
            },
            translations: {
                CONFIRM_EXIT: 'confirm_exit'|trans({}, 'SonataAdminBundle'),
            },
        }|json_encode()|raw }}'
        >

        {% block stylesheets %}
            {% for stylesheet in sonata_admin.adminPool.getOption('stylesheets', []) %}
                <link rel="stylesheet" href="{{ asset(stylesheet) }}">
            {% endfor %}
        {% endblock %}

        {% block javascripts %}
            {% block sonata_javascript_config %}
            {% endblock %}

            {% block sonata_javascript_pool %}
                {% for javascript in sonata_admin.adminPool.getOption('javascripts', []) %}
                    <script src="{{ asset(javascript) }}"></script>
                {% endfor %}
            {% endblock %}

            {# localize moment #}
            {% set localeForMoment = canonicalize_locale_for_moment() %}
            {% if localeForMoment %}
                <script src="{{ asset(
                    'bundles/sonatacore/vendor/moment/locale/' ~
                    localeForMoment ~
                    '.js'
                ) }}"></script>
            {% endif %}

            {# localize select2 #}
            {% if sonata_admin.adminPool.getOption('use_select2') %}
                {% set localeForSelect2 = canonicalize_locale_for_select2() %}
                {% if localeForSelect2 %}
                    <script src="{{ asset('bundles/sonatacore/vendor/select2/select2_locale_' ~ localeForSelect2 ~ '.js') }}"></script>
                {% endif %}
            {% endif %}
        {% endblock %}

        <title>
        {% block sonata_head_title %}
            eTAB
            
        {% endblock %}
        </title>
    </head>
    <body
            {% block body_attributes -%}
                class="sonata-bc skin-black fixed
                {% if app.request.cookies.get('sonata_sidebar_hide') -%}
                    sidebar-collapse
                {%- endif -%}"
            {%- endblock -%}
    >

    <div style="position: relative; overflow-x: hidden; overflow-y: auto;">

        {% block sonata_header %}
            <header class="main-header">
                {% block sonata_header_noscript_warning %}
                    <noscript>
                        <div class="noscript-warning">
                            {{ 'noscript_warning'|trans({}, 'SonataAdminBundle') }}
                        </div>
                    </noscript>
                {% endblock %}
                {% block logo %}
                    {% spaceless %}
                    
                        {% if cium_disponible == true  %}
                            <a class="navbar-brand" id="cium" href="{{cium_url}}" target="_blank" style="background: honeydew;">
                                <img src="{{ asset('themes/simple/images/cium.png') }}" style="margin-top:-7px; height:34px;"/> 
                            </a>
                        {% endif %} 

                        <a class="logo" href="{{ path('sonata_admin_dashboard') }}" style="width: auto;">
                            {% if 'single_image' == sonata_admin.adminPool.getOption('title_mode') or 'both' == sonata_admin.adminPool.getOption('title_mode') %}
                                <img src="{{ asset(sonata_admin.adminPool.titlelogo) }}" alt="{{ sonata_admin.adminPool.title }}" style=" height:34px;">
                            {% endif %}                            
                        </a>
                        
                    {% endspaceless %}
                {% endblock %}
                {% block sonata_nav %}
                    <nav class="navbar navbar-static-top menu-principal" role="navigation" style="margin-left: 138px;">
                        <div class="navbar-left">
                            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse">
                                <i class="fa fa-bars"></i>
                            </button>
                            
                        </div>

                        
                    </nav>
                {% endblock sonata_nav %}
            </header>
        {% endblock sonata_header %}

        {% block sonata_wrapper %}
           

            <div style="padding-top: 50px; z-index: 800;">
                {% block sonata_page_content %}
                    

                    <section class="content">
                        {% block sonata_admin_content %}

                            {% block notice %}
                                {% include '@SonataCore/FlashMessage/render.html.twig' %}
                            {% endblock notice %}

                            {% if _preview is not empty %}
                                <div class="sonata-ba-preview">{{ _preview|raw }}</div>
                            {% endif %}

                            {% if _content is not empty %}
                                <div class="sonata-ba-content">{{ _content|raw }}</div>
                            {% endif %}

                            {% if _show is not empty %}
                                <div class="sonata-ba-show">{{ _show|raw }}</div>
                            {% endif %}

                            {% if _form is not empty %}
                                <div class="sonata-ba-form">{{ _form|raw }}</div>
                            {% endif %}

                            {% if _list_filters is not empty %}
                                <div class="row">
                                    {{ _list_filters|raw }}
                                </div>
                            {% endif %}

                            {% if _list_table is not empty %}
                                <div class="row">
                                    {{ _list_table|raw }}
                                </div>
                            {% endif %}
                        {% endblock sonata_admin_content %}
                        
                    </section>

                    
                {% endblock sonata_page_content %}
            </div>

            <div class="container-fluid"><hr>
                <div style="text-align:right">
                    <img src="{{ asset('themes/simple/images/LogoInstitucional.png') }}" height="30px" /> 
                    <img src="{{ asset('themes/simple/images/EscudoGobiernoChiapas.png') }}" height="30px" /> 
                    <img src="{{ asset('themes/simple/images/Marca.png') }}" height="30px" /> 
                </div>        
            </div>

        {% endblock sonata_wrapper %}
    </div>

    </body>
</html>
