{% extends 'themes/'~app_theme|default('defult')~'/standard_layout.html.twig' %}
{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ app.request.schemeAndHttpHost ~ asset('css/core_layout.css') }}" type="text/css" media="all" />
    <link rel="stylesheet" href="{{ app.request.schemeAndHttpHost ~ asset('css/animate.css') }}" type="text/css" media="all" />
{% endblock %}
{% block javascripts %}
    {{parent()}}
    <script type="text/javascript" src="{{ app.request.schemeAndHttpHost ~ asset('bundles/fosjsrouting/js/router.js') }}"></script>
    <script type="text/javascript" src="{{ app.request.schemeAndHttpHost ~ asset('js/notify.min.js') }}"></script>
    <script type="text/javascript" src="{{ app.request.schemeAndHttpHost ~ asset('js/menu.js') }}"></script>
    <script type="text/javascript" src="{{ app.request.schemeAndHttpHost ~ asset('js/no_cerrar_select_multiple.js') }}"></script>
    <script type="text/javascript" src="{{ path('fos_js_routing_js', {"callback": "fos.Router.setData"}) }}"></script>

    {% include (['messages_js.html.twig']|join) %}

    <script>      
        function cerrar_div_carga(){
            $("#div_cargando").attr("style","display: none");
        }
    </script>
      
{% endblock %}

{% block sonata_top_nav_menu_add_block %}{% endblock %}
{% block sonata_sidebar_search %}{% endblock %}

{% block sonata_top_nav_menu_user_block %}

    {% if app.user != '' and app.user.username == 'externo' %}
        <li ><a href='{{url('sonata_user_admin_security_logout')}}'>{{'_salir_'|trans}}</a></li>
    {% else %}
        <li class="dropdown user-menu">
            <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                <i class="fa fa-user fa-fw"></i> <i class="fa fa-caret-down"></i>
            </a>
            <ul class="dropdown-menu dropdown-user">
                {% if app.user != '' %}
                    {% include get_global_template('user_block') %}
                {% endif %}
            </ul>
        </li>
    {% endif %}

    <div id="div_cargando" class='affix'>
        <img id="cargador" src="{{ app.request.schemeAndHttpHost ~ asset('images/ajax-loader.gif') }}" style="left: 48%;position: absolute;top: 45%;"/>
        <span class="btn btn-default glyphicon glyphicon-remove" style="
                        position: absolute;
                        top: 14px;
                        right: 10px;
                        font-size: 16pt;
                        z-index: 99999999;
                    " onclick="cerrar_div_carga()"></span>
    </div>

{% endblock %}