{% extends 'themes/'~app_theme|default('defult')~'/standard_layout.html.twig' %}
{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ app.request.schemeAndHttpHost ~ asset('css/core_layout.css') }}" type="text/css" media="all" />
    <link rel="stylesheet" href="{{ app.request.schemeAndHttpHost ~ asset('css/animate.css') }}" type="text/css" media="all" />
{% endblock %}
{% block javascripts %}
    {{parent()}}
    <script type="text/javascript" src="{{ app.request.schemeAndHttpHost ~ asset('bundles/fosjsrouting/js/router.js') }}"></script>
    <script type="text/javascript" src="{{ app.request.schemeAndHttpHost ~ asset('js/notify.min.js') }}"></script>
    <script type="text/javascript" src="{{ app.request.schemeAndHttpHost ~ asset('js/menu.js') }}"></script>
    <script type="text/javascript" src="{{ app.request.schemeAndHttpHost ~ asset('js/no_cerrar_select_multiple.js') }}"></script>
    <script type="text/javascript" src="{{ path('fos_js_routing_js', {"callback": "fos.Router.setData"}) }}"></script>

    {% include (['messages_js.html.twig']|join) %}

    <script>      
        function cerrar_div_carga(){
            $("#div_cargando").attr("style","display: none");
        }
    </script>
      
{% endblock %}

{% block sonata_top_nav_menu_add_block %}{% endblock %}
{% block sonata_sidebar_search %}{% endblock %}

{% block sonata_top_nav_menu %}

    {{ parent() }}
    <div id="div_cargando" class='affix'>
        <img id="cargador" src="{{ app.request.schemeAndHttpHost ~ asset('images/ajax-loader.gif') }}"/>
    </div>
    {{ include('help_sidebar.html.twig') }}
{% endblock %}
